<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resident Evil</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
</head>
<body>
	<th:block th:include="fragments/navbar::navbar"></th:block>
	
	
		<!-- MAIN TEXT -->
	<th:block th:each="capital:${capitals}" th:object="${capital}">
	
		<div class="text-center"  th:text="|${capitalStat.count} Name: *{name} 
		latitude: *{latitude} longitude: *{longitude}|"></div>	
	</th:block> 
</body>
</html>