<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resident Evil</title>
	<link rel="stylesheet" type="text/css" href="/project.residentevil.demo/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/project.residentevil.demo//css/style.css"/>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/project.residentevil.demo//scripts/bootstrap.min.js"></script>
</head>
<body>
	<th:block th:include="fragments/navbar::navbar"></th:block>
	<div class="container mt-4 color-link-light">
		<h1>Viruses</h1>
			<table class="table mt-4">
			 <tr>
		      <th scope="col">#</th>
		      <th scope="col">Name</th>
		      <th scope="col">Magnitude</th>
		      <th scope="col">Released On</th>
		      <th scope="col">Actions</th>
		    </tr>
		    </thead>
		  <tbody>
		  <th:block th:each="virus:${viruses}" th:object="${virus}" action="@{/viruses/show}" >
		    <tr>
		      <th scope="row" th:text="${virusStat.count}">1</th>
		      <td th:text="*{name}">Name</td>
		      <td th:text="*{magnitude}">Magnitude</td>
		      <td th:text="*{releasedOn}">Released On</td>
		      <td><a class=" btn button-light color-link-light" href="#">Edit</a></td>
		      <td><a class=" btn button-light" href="#">Delete</a></td>
		    </tr>
		   </th:block>
		  </tbody>
		</table>
	</div>

</body>
</html>