

.navbar-purple{
	background-color: #830039;
}

.nav-link-white{
	color:#FFC14E;
}
.nav-button-white{
	color:#FFC14E;
}
button:hover {
    color:#9B6400;
}
a:hover{
	color:#9B6400;
}
.mes{
	color: #18000B;
}
