<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>

<div th:fragment="navbar">
<nav class="navbar navbar-expand-lg  nav-link-white navbar-purple ">
	<div class="container-fluid">
		  <a class="navbar-brand nav-link-white" href="http://localhost:8080/project.residentevil.demo/">Resident Evil</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse nav-link-white" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto nav-link-white ">
		    
		      <li class="nav-item active">
		        <a class="nav-link nav-link-white" href="http://localhost:8080/project.residentevil.demo/">Home </a>
		      </li>
		      
		      <li class="nav-item dropdown ">
		        <a class="nav-link nav-link-white " 
		        role="button" th:href="@{/}" id="navbarDropdown"  data-toggle="dropdown"
		         aria-haspopup="true" aria-expanded="false" >
		        
		          Viruses
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		         <a class="dropdown-item" th:href="@{/viruses/show}">Show</a>
		          <div class="divider"></div>
		         <a class="dropdown-item" th:href="@{/viruses/add}">Add</a>
		         
		        </div>
		      </li>
		      
		      <li class="nav-item">
		        <a class="nav-link nav-link-white" href="/map">Map</a>
		      </li>
		      
		    </ul>
		    
		  </div>
		  </div>
		</nav>

</div>
 </body>
  
</html>